#DA_datos {
    margin-top: 60px;
    max-width: 50%;
    margin-bottom: 30px;
    align: center;
}

#DA_imagen {
    display: inline;

}
#DA_datostxt {
    float:right;
    margin-top: 10px;
    /*height: 120px;*/
}

#DA_textos {
    text-align: left;
}

#DA_tabla {
    width: 50%;
    align: center;
}
#DA_tracklist_td{
    text-align: right;
    height: 45px;
    width: 80%;
    padding-right: 15px;
}

#DA_link_td {
    text-align: center;
    width: 20%
}

