#DB_cabecera{
    width: 50%;
    margin-top:60px;
    text-align: left;

}
#DB_tabla {
    width:50%;
    margin-top:30px;
}

#DB_componentes_td {
    text-align: right;
    height: 35px;
    padding-right: 15px;
}

#DB_instrumentos_td{
    text-align: left;;
    padding-left: 15px;
}

#BD_albumes_td {
    text-align: right;
    height: 60px;
    padding-right: 15px;
}