<tr>
    <!-- el ng-if es pàra comtrolar que si no hay imagen pues que no salga el enlace roto -->
    <td ng-click="cambiaFavorito(al.id)" id="favorito">
         <span class={{esFavorito(al.id)}} aria-hidden="true"></span>
    </td>
    <td ng-click="seleccionado()"><img src="img/{{al.image}}" width="70px" ng-if="al.image" class="img-rounded"/></td>
    <td ng-click="seleccionado()">

            <p id="tituloAlbum">{{::al.title}}</p>
            <p><small><em>{{::al.genre.name}} ({{::al.year}})</em></small></p>

    </td>
    <td ng-click="seleccionado()" id="celda">{{::al.band.name}}</td>
    <td ng-click="seleccionado()" id="celda">{{::al.tracklist.length}}</td>



</tr>