<tr>
    <!--con ng-if, se evalua lo que haya dentro, si es cierto se pinta el elemento, si es falso no -->
    <td><img ng-src="{{post.image_url}}" ng-if="post.image_url" alt="Imagen" width="64" class="img-rounded" /></td>
    <td><div>
        <button class="btn-link" ng-click="notificarClick()">
            {{post.text}}
        </button>
    </div>
        <small>{{post.author|Firma:post.created}}</small></td>

    <td>
        <button class="btn btn-primary" type="button" ng-click="meGusta()">
            Me gusta <span class="badge">{{post.likes}}</span>
        </button>
    </td>
    <td>
        <button class="btn btn-danger" type="button" ng-click="noMeGusta()">
            No me gusta <span class="badge">{{post.dislikes}}</span>
        </button>
    </td>
</tr>