<div align="center">
    <div id="DB_cabecera">
        <p>Nombre: {{banda.name}}</p>
        <p>Origen: {{banda.origin}}</p>
        <p><span class={{esFavorito(album.id)}} aria-hidden="true"></span></p>
        <a target="_blank" href="{{::banda.name|wikipediaLink}}">Wipedia</a>
    </div>
    <table id="DB_tabla">
        <thead>
        <tr><td colspan="2">Componentes</td></tr>
        <tr><td id="DB_componentes_td">Nombre</td><td id="DB_instrumentos_td">Instrumentos</td></tr>
        </thead>
        <tr ng-repeat="mem in banda.members">
            <td id="DB_componentes_td">{{mem.name}}</td>
            <td id="DB_instrumentos_td">{{mem.instruments}}</td>
        </tr>

    </table>

    <table id="DB_tabla">
        <thead>
        <tr><td colspan="3">Albumes editados</td></tr>
        </thead>
    <tr ng-repeat="al in banda.albums" albumes-detalle-direct al="al" on-album-click="detalleAlbum(idAlbum)">

    </tr>
    </table>

</div>

