<div align="center">

    <div>
        <img src="img/{{album.image}}" width="120px" ng-if="album.image" class="img-rounded"/>
        <div >
            <p>Banda: {{::album.band.name}}</p>
            <p>Titulo: {{::album.title}} ({{::album.year}}) </p>
            <p><small><em>Genero: {{::album.genre.name}}</em></small></p>
        </div>

    </div>
    <!-- el ng-if es pàra comtrolar que si no hay imagen pues que no salga el enlace roto -->

    <table>
        <thead>
        <tr><td>Tracklist</td></tr>
        </thead>
        <tr ng-repeat="track in album.tracklist">
            <td>{{track}}</td>
            <td><a target="_blank" href="{{::album.band.name|getYouTubeLink:track}}"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></a></td>

        </tr>
    </table>
</div>
