<div align="center">

    <div id="DA_datos">
        <!-- el ng-if es pàra comtrolar que si no hay imagen pues que no salga el enlace roto -->
        <img src="img/{{album.image}}" width="120px" ng-if="album.image" class="img-rounded" id="DA_imagen"/>
        <div id="DA_datostxt">
            <p id="DA_textos">Banda: {{::album.band.name}}</p>
            <p id="DA_textos">Titulo: {{::album.title}} ({{::album.year}}) </p>
            <p id="DA_textos"><small><em>Genero: {{::album.genre.name}}</em></small></p>
        </div>

    </div>


    <table class="table-bordered" id="DA_tabla">
        <thead>
        <tr><td colspan="2">Tracklist</td></tr>
        </thead>
        <tr ng-repeat="track in album.tracklist">
            <td id="DA_tracklist_td">{{track }}</td>
            <td><a target="_blank" href="{{::album.band.name|getYouTubeLink:track}}"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></a></td>

        </tr>
    </table>
</div>
