<header>Detalle album</header>
<tr>
    <!-- el ng-if es pàra comtrolar que si no hay imagen pues que no salga el enlace roto -->
    <td ng-click="seleccionado()"><img src="img/{{album.image}}" width="70px" ng-if="al.image" class="img-rounded"/></td>
    <td ng-click="seleccionado()">
        <div>
            <p>{{::album.title}} ({{::al.year}}) </p>
            <p><small><em>{{::al.genre.name}}</em></small></p>
        </div>
    </td>
    <td ng-click="seleccionado()">{{::al.band.name}}</td>
    <td ng-click="seleccionado()">{{::al.tracklist.length}}</td>


</tr>